.svn
*.suo
*.DotSettings
*.DotSettings.user
VkShopManager/obj/*
VkShopManager/bin/Debug/*
VkShopManager/bin/Release/*
VkExampleTests/obj/*
VkExampleTests/bin/Debug/*
VkExampleTests/bin/Release/*
VkExample1/obj/*
VkExample1/bin/Debug/*
VkExample1/bin/Release/*
UsersCollector/obj/*
UsersCollector/bin/Debug/*
UsersCollector/bin/Release/*
ConsoleClient/obj/*
ConsoleClient/bin/Debug/*
ConsoleClient/bin/Release/*